:root {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: black;
  color: white;
  /* background: #b3d7fe; */
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
